div.EddSoftwareLicenseManager .license-status {
}

div.EddSoftwareLicenseManager .license-status.active {
    color: #066226;
    text-shadow: 1px 1px 1px rgba(20, 255, 0, 0.5);
}

div.EddSoftwareLicenseManager .license-status.inactive {
    color: #886d03;
    text-shadow: 1px 1px 1px rgba(255, 215, 0, 0.5);
}

div.EddSoftwareLicenseManager .license-status.expired,
div.EddSoftwareLicenseManager .license-status.invalid {
    color: #990422;
    text-shadow: 1px 1px 1px rgba(255, 37, 37, 0.5);
}

div.EddSoftwareLicenseManager hr {
    visibility: hidden;
}

img.EddLicenseLoader {
    padding: 0 0 0 10px;
    margin: -2px;
}